
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: IntegralCF;
    src: url("../fonts/IntegralCF.otf") format("opentype");
  }


@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: #161516;
  transform-origin: bottom;
  z-index: 100;
}

.slide-out{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: #161516;
  transform-origin: top;
  z-index: 100;
}

@media (min-width: 992px) {
  .navbar {
    all: unset;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
@layer components {

  .btn {
    @apply h-[50px] text-white px-[30px] rounded-lg flex items-center justify-center gap-[10px] max-w-max ease-in duration-300
  }

  .btn-primary {
    @apply bg-bg-majorelle-blue rounded-[200px] hover:bg-bg-ocean-blue shadow-shadow-2
  }

  .btn-secondary {
    @apply bg-bg-red-salsa hover:bg-bg-english-vermillion shadow-shadow-3
  }
  .header-active {
    @apply fixed bg-white animate-slideIn shadow-shadow-1
  }
}